@charset "utf-8";
/* 公共样式 */
body{ margin:0px; padding:0px; font-size:12px;font-family:"宋体";color:#333;}
ul,li,dl,dd,dt,p,h1,h2,h3,h4,h5,h6,form{ margin:0px; padding:0px;}
ul,li{ list-style:none}
img{border:0px; padding:0px;}
a{ color:#333; text-decoration:none;}
a:hover{ color:#333;text-decoration: none;}
.clear{ clear:both; height:0px; font-size:0px; line-height:0px}
.divleft{ float:left}
.divright{ float:right}
.hidden{display:none;}



.enter-t{z-index:999;width:309px;height:43px;padding:0px 5px 0px 6px;margin:0 auto;background:#c40000;position:relative;position:fixed!important; position:absolute;top:0px!important; top:auto; top: expression(eval(document.compatMode && document.compatMode=='CSS1Compat') ? documentElement.scrollTop+(documentElement.clientHeight - this.clientHeight):document.body.scrollTop+(document.body.clientHeight - this.clientHeight));}
.enter-t1{float:left;margin-top:8px;width:63px;height:35px;line-height:26px;font-weight:bold; text-align:center;color:#ffffff;background:url(img/t-bg.jpg) no-repeat;}
.enter-t2{float:left;width:195px;height:43px;line-height:43px;font-size:14px;text-align:center;font-weight:bold;color:#ffffff;}
.enter-t22{float:left;width:156px;height:43px;line-height:43px;font-size:14px;text-align:center;font-weight:bold;color:#ffffff;}
.enter-t222{float:left;width:180px;height:43px;line-height:43px;font-size:14px;text-align:center;font-weight:bold;color:#ffffff;}
.enter-t3{ float:right;width:51px;height:35px;line-height:26px;margin-top:8px;font-weight:bold; text-align:center;color:#ffffff; background:url(img/ttt-b.jpg) no-repeat;}
.enter-t33{ float:right;width:89px;height:35px;line-height:26px;margin-top:8px;font-weight:bold; text-align:center;color:#ffffff; background:url(img/tttt-b.jpg) no-repeat;}
.enter-t333{ float:right;width:65px;height:35px;line-height:26px;margin-top:8px;font-weight:bold; text-align:center;color:#ffffff; background:url(img/tttt-b.jpg) no-repeat;}

.enter-bg{width:309px;margin:0 auto;padding:10px 5px 0px 6px;}

/******************底部菜单导航*****************/
.mandi10{z-index:999;width:320px;height:60px;margin:0 auto;background:url(img/bg1.jpg) repeat-x; margin-top:30px;position:fixed!important; position:absolute;bottom:-2px!important; bottom:auto; top: expression(eval(document.compatMode && document.compatMode=='CSS1Compat') ? documentElement.scrollTop+(documentElement.clientHeight - this.clientHeight):document.body.scrollTop+(document.body.clientHeight - this.clientHeight));}
.mandi10 dl{width:64px;height:53px;padding-top:5px; float:left;}
.mandi10 dl:hover{ background:url(img/bg2.jpg) no-repeat;}
.mandi10 dt{width:32px;height:27px;width:60px;margin-left:14px;}
.mandi10 dl dd{margin-top:4px;text-align: center;font-family:"寰蒋闆呴粦";}
.mandi10 dl dd a{ color:#666;}
.mandi10 .ggg{ background:#c40000; padding:3px 6px; position:absolute; color:#fff; font-style:normal; text-align:center;border-radius:5px; font-family:Tahoma, Geneva, sans-serif; left:45px; top:-6px;}






