<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>韩国特展</title>
    <link href="{$site_url}/weixin/templates/style/common.css" rel="stylesheet" type="text/css" />
    <link href="{$site_url}/weixin/templates/style/korea.css" rel="stylesheet" type="text/css" />
    <meta goods_id="viewport" content="wgoods_idth=device-wgoods_idth, initial-scale=1, minimum-scale=1, maximum-scale=1,user-scalable=no" name="viewport">
    <script type="text/javascript" src="{$site_url}/weixin/templates/js/show_share_button.js"></script>
</head>
<body>
<div style="width: 302px;margin: 0px auto;padding-bottom: 65px">
<!-------------------头部----------------->
<div class="korea-t" style="position:fixed!important; position:absolute;top:0px!important; top:auto; top: expression(eval(document.compatMode && document.compatMode=='CSS1Compat') ? documentElement.scrollTop+(documentElement.clientHeight - this.clientHeight):document.body.scrollTop+(document.body.clientHeight - this.clientHeight));">
    <div class="korea-l"><a href="javascript:history.go(-1)">返回</a></div>
    <div class="korea-c2">韩国特展</div>
    <div class="korea-r1"><a href="http://www.dajike.com/weixin">首页</a></div>
</div>
<div class="korea-bg">
    <div class="m-banner"><img src="{$site_url}/weixin/templates/style/images/pic/m-banner.jpg" wgoods_idth="310" height="212" alt="马年banner" /> </div>
    <!------------礼物套餐标题-------------->
    <div class="Combo">
        <div class="Combo-1">丰盛加信任的礼物套餐</div>
        <div class="Combo-2"></div>
        <div class="Combo-3">
            <a href="javascript:;"><div class="Combo-3-1">
                <h3>真露名品1+1</h3>
                <p style=" color:#d4fffb;">特别韩国烧酒</p>
            </div></a>
            <a href="javascript:;"><div class="Combo-3-2">
                <h3>食品礼物套餐</h3>
                <p style=" color:#fff4e2;">韩国金枪鱼公司</p>
            </div></a>
            <a href="javascript:;"><div class="Combo-3-3">
                <h3>爱敬礼物套餐</h3>
                <p style=" color:#f2ffdb;">实惠的礼物套餐</p>
            </div></a>
        </div>
    </div>
    <!------------banner2-------------->
    <div goods_id="le2" class="m-banner2"><a href="javascript:;"><img src="{$site_url}/weixin/templates/style/images/pic/m-banner2.jpg" wgoods_idth="309" height="186" alt="韩国特产" /></a></div>
    <!------------来至大海里的健康-------------->
    <div class="canned">
        <div class="canned-t">来自大海里的健康</div>
        <div class="canned-c">
            <dl>

                <a href="http://www.dajike.com/weixin/goods/0/25205{if $member && $member.user_id > 0}/{$member.user_id}{/if}"><dt><img src="{$site_url}/weixin/templates/style/images/pic/canned1.jpg" wgoods_idth="123" height="132" alt="鱼罐头" /></dt></a>
                <dd>
                    <h3>100号   <span> ￥</span><strong>170</strong>元</h3>
                    <p>原味金枪鱼罐头 100g 6罐</p>
                    <p>沙拉金枪鱼罐头 100g 6罐</p>
                    <p>蔬菜金枪鱼罐头 100g 3罐</p>
                </dd>
            </dl>
            <dl>

                <a href="http://www.dajike.com/weixin/goods/0/25206{if $member && $member.user_id > 0}/{$member.user_id}{/if}"><dt><img src="{$site_url}/weixin/templates/style/images/pic/canned2.jpg" /></dt></a>
                <dd>
                    <h3>101号   <span> ￥</span><strong>130</strong>元</h3>
                    <p>原味金枪鱼罐头 150g 8罐</p>
                </dd>
            </dl>
            <dl>
                <a href="http://www.dajike.com/weixin/goods/0/25207{if $member && $member.user_id > 0}/{$member.user_id}{/if}"><dt><img src="{$site_url}/weixin/templates/style/images/pic/canned3.jpg"/></dt></a>
                <dd>
                    <h3>102号   <span> ￥</span><strong>280</strong>元</h3>
                    <p>原味金枪鱼罐头 150g 3罐</p>
                    <p>蔬菜金枪鱼罐头 150g 3罐</p>
                    <p>双辣味金枪鱼罐头150g 3罐</p>
                    <p>韩式炸酱金枪鱼罐头150g3罐</p>
                </dd>
            </dl>
            <dl style="border-bottom:0px;height:132px;margin-bottom:0px;">
                <a href="http://www.dajike.com/weixin/goods/0/25208{if $member && $member.user_id > 0}/{$member.user_id}{/if}"><dt><img src="{$site_url}/weixin/templates/style/images/pic/canned4.jpg" /></dt></a>
                <dd>
                    <h3>103号   <span> ￥</span><strong>330</strong>元</h3>
                    <p>原味金枪鱼罐头 150g 3罐</p>
                    <p>辣椒味金枪鱼罐头150g 3罐</p>
                    <p>韩式炸酱金枪鱼罐头150g3罐</p>
                    <p>贵族芥画油900ml 2瓶</p>
                </dd>
            </dl>
        </div>
    </div>
    <!------------banner3-------------->
    <div goods_id="le1" class="m-banner3"><a href="http://www.dajike.com/weixin/goods/0/20096{if $member && $member.user_id > 0}/{$member.user_id}{/if}"><img src="{$site_url}/weixin/templates/style/images/pic/m-banner3.jpg" /></a></div>
    <!------------礼物套餐-------------->
    <div goods_id="le3" class="gift">
        <div class="gift-t">合理实惠的爱敬礼物套餐</div>
        <div class="gift-c">
            <dl>
                <a href="http://www.dajike.com/weixin/goods/0/25222{if $member && $member.user_id > 0}/{$member.user_id}{/if}"><dt><img src="{$site_url}/weixin/templates/style/images/pic/gift1.jpg" wgoods_idth="138" height="123" alt="礼物套餐" /></dt></a>
                <a href="http://www.dajike.com/weixin/goods/0/25222{if $member && $member.user_id > 0}/{$member.user_id}{/if}"><dd>爱敬惊喜1号<span><m>￥</m>217</span></dd></a>
            </dl>
            <dl style="margin-right:0px;">
                <a href="http://www.dajike.com/weixin/goods/0/25224{if $member && $member.user_id > 0}/{$member.user_id}{/if}"><dt><img src="{$site_url}/weixin/templates/style/images/pic/gift2.jpg"/></dt></a>
                <a href="http://www.dajike.com/weixin/goods/0/25224{if $member && $member.user_id > 0}/{$member.user_id}{/if}"><dd style="background:#92bd49;">爱敬克拉1号<span><m>￥</m>359</span></dd></a>
            </dl>
            <dl>
                <a href="http://www.dajike.com/weixin/goods/0/25219{if $member && $member.user_id > 0}/{$member.user_id}{/if}"><dt><img src="{$site_url}/weixin/templates/style/images/pic/gift3.jpg"/></dt></a>
                <a href="http://www.dajike.com/weixin/goods/0/25219"><dd style="background:#92bd49;">爱敬富人2号<span><m>￥</m>194</span></dd></a>
            </dl>
            <dl style="margin-right:0px;">
                <a href="http://www.dajike.com/weixin/goods/0/25223{if $member && $member.user_id > 0}/{$member.user_id}{/if}"><dt><img src="{$site_url}/weixin/templates/style/images/pic/gift4.jpg"/></dt></a>
                <a href="http://www.dajike.com/weixin/goods/0/25223{if $member && $member.user_id > 0}/{$member.user_id}{/if}"><dd>爱敬惊喜8号<span><m>￥</m>533</span></dd></a>
            </dl>
            <dl>
                <a href="http://www.dajike.com/weixin/goods/0/25220{if $member && $member.user_id > 0}/{$member.user_id}{/if}"><dt><img src="{$site_url}/weixin/templates/style/images/pic/gift5.jpg"/></dt></a>
                <a href="http://www.dajike.com/weixin/goods/0/25220{if $member && $member.user_id > 0}/{$member.user_id}{/if}"><dd>爱敬富人4号<span><m>￥</m>430</span></dd></a>
            </dl>
            <dl style="margin-right:0px;">
                <a href="http://www.dajike.com/weixin/goods/0/25221{if $member && $member.user_id > 0}/{$member.user_id}{/if}"><dt><img src="{$site_url}/weixin/templates/style/images/pic/gift6.jpg" /></dt></a>
                <a href="http://www.dajike.com/weixin/goods/0/25221{if $member && $member.user_id > 0}/{$member.user_id}{/if}"><dd style="background:#92bd49;">爱敬富人5号<span><m>￥</m>613</span></dd></a>
            </dl>
            <div class="clear"></div>
            <div class="gift2">
                <dl>
                    <a href="http://www.dajike.com/weixin/goods/0/25225{if $member && $member.user_id > 0}/{$member.user_id}{/if}"><dt><img src="{$site_url}/weixin/templates/style/images/pic/gift7.jpg" /></dt></a>
                    <a href="http://www.dajike.com/weixin/goods/0/25225{if $member && $member.user_id > 0}/{$member.user_id}{/if}"><dd><span><m>￥</m>508</span>爱敬 贤PREMUIM2号</dd></a>
                </dl>
            </div>
        </div>
    </div>
</div>
</div>
</body>
</html>
