<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>设置登录密码</title>
    <link href="{$site_url}/weixin/templates/style/com.css" rel="stylesheet" type="text/css" />
    <link href="{$site_url}/weixin/templates/style/hone.css" rel="stylesheet" type="text/css" />
    <meta id="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1,user-scalable=no" name="viewport">
    <script type="text/javascript" src="{$site_url}/weixin/templates/js/jquery.js"></script>
    <script type="text/javascript">
        $(function(){
            $("#qq_set_password").click(function(){
                var type="{$type}";
                var password1 = $("#password1").val();
                var password2 = $("#password2").val();

                if(!password1 || password1==null || password1==""){
                    alert("密码不能为空!");
                    return;
                }
                if(!password1.match("^\\w{6,20}$")){
                    alert("密码是6-20个字符!");
                    return;
                }
                var password2 = $("#password2").val();
                if(!password2 || password2==null || password2==""){
                    alert("确认密码不能为空!");
                    return;
                }

                if(password1 != password2){
                    alert("两次输入的密码不一致!");
                    return;
                }else{
                    $.post(
                            'index.php?app=jkxd_portal&act=qq_setPassword',
                            {"password1":password1,"password2":password2},
                            function(data){
                                data=eval("("+data+")");
                                if(data.retval == "1"){//更改密码成功
                                    alert(data.msg);
                                    if(type == "apply_success"){
                                        guide_one();
                                    }
                                    DialogManager.close("qq_setPassword");
                                }else{
                                    alert(data.msg);
                                }

                            }
                    );
                }

            });
        });
    </script>
</head>
<body>
<div class="pop320">
    <div class="popup">
        <div class="popup1">设置登录密码</div>
        <div class="popup2">
            <div class="popup2-1">您的集客小店：{$jkxd_site_url}</div>
            <div class="popup2-2">请按照页面提示设置密码，以后可用集客小店号和您设置的密码登录大集客。
            </div>
            <div class="popup2-3">
                <table width="290" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td height="30" align="right">集客小店店铺名：</td>
                        <td width="2" height="30"></td>
                        <td height="30">{$user.shop_name}</td>
                    </tr>
                    <tr>
                        <td height="30" align="right">集客小店号：</td>
                        <td width="2" height="30"></td>
                        <td height="30">{$user.user_id}</td>
                    </tr>
                    <tr>
                        <td height="30" align="right">密码：</td>
                        <td width="2" height="30"></td>
                        <td height="30"><input class="set-text" id="password1" name="password1" type="password" /></td>
                    </tr>
                    <tr>
                        <td height="50" align="right">确认密码：</td>
                        <td width="2" height="50"></td>
                        <td height="50"><input class="set-text" id="password2" name="password2" type="password" /></td>
                    </tr>
                    <tr>
                        <td height="35" align="right">&nbsp;</td>
                        <td width="2" height="35"></td>
                        <td height="35"><input class="set-buttom" type="button" id="qq_set_password" value="确 定" /></td>
                    </tr>
                </table>

            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    function guide_one(){
        var uri =encodeURI("index.php?app=jkxd_portal&act=guide_one");
        var id = 'guide_one';
        var title = "引导一";
        var width = '330';
        ajax_form(id, title, uri, width);
    }
</script>

</body>
</html>
