<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
<img src="http://api.map.baidu.com/staticimage?center={$longitude},{$latitude}&width={$width}&height={$height}&zoom={$zoom}"/>

<br/>
<br/>
<br/>
<a href="http://map.wap.soso.com/x/?type=bus&cond=1&traffic=open&welcomeChange=1&welcomeClose=1&startLat=31.324806&startLng=121.448372&endLat=31.310814&endLng=121.448367&key=1028+128+Memorial+Road%2C+Baoshan%2C+Shanghai%2C+China%7C%7C%E4%B8%8A%E6%B5%B7%E5%B8%82%E5%85%B1%E5%92%8C%E6%96%B0%E8%B7%AF4330%E5%8F%B7">根据两点的经纬度，生成导航图</a>
<br/>
<br/>
<br/>
<a href="{$fullUrl}">根据两点的经纬度以及起始位置，生成导航图</a>
<br/>
<br/>
<br/>


</body>
</html>