<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>取消订单</title>
    <link href="{$site_url}/weixin/templates/style/common.css" rel="stylesheet" type="text/css" />
    <link href="{$site_url}/weixin/templates/style/order-inquiry.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript"src="{$site_url}/weixin/templates/js/jquery-1.6.2.min.js"></script>
    <meta id="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1,user-scalable=no" name="viewport">
    <script type="text/javascript" src="{$site_url}/weixin/templates/js/hide_share_button.js"></script>
    <script type="text/javascript">
        function cancel(order_id){
            $.get("{$site_url}/weixin/index.php?app=member_order&act=cancel&order_id="+order_id,function(result){
                result = eval("("+result+")");
                alert(result.msg);
                window.location.replace("{$site_url}/weixin/index.php?app=member_order&act=detail&order_id={$order_id}");
            })
        }
    </script>
</head>
<body>
<div style="width: 320px;margin: 0px auto">
    <div style="padding-top: 50px;">
<div class="address-t">
    <div class="address-l"><a href="javascript:history.go(-1)">返回</a></div>
    <div class="address-c2">取消订单</div>
    {include file=member.index_header.html}
</div>
<div class="Safety-cen">
    <div class="Safety-cen1">
        <div class="Safety-cen1-11">订单取消后不能恢复，您确定要取消该订单吗？</div>
        <div class="Safety-cen1-3"><a href="javascript:void(0)" onclick="cancel('{$order_id}')">取消订单</a></div>
    </div>
    <div class="Safety-cen2"><a href="javascript:history.go(-1)">返回</a></div>
</div>
    </div>
</div>
{include file=cnzz.html}
</body>
</html>
