<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>解绑银行卡</title>
    <link href="{$site_url}/weixin/templates/style/com.css" rel="stylesheet" type="text/css" />
    <link href="{$site_url}/weixin/templates/style/hone.css" rel="stylesheet" type="text/css" />
    <meta id="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1,user-scalable=no" name="viewport">
    <script type="text/javascript" src="{$site_url}/weixin/templates/js/jquery-1.6.2.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="{$site_url}/weixin/templates/js/hide_share_button.js"></script>
    <script type="text/javascript">
        function cancel_remove(){
            DialogManager.close('confirm_payPassword');
        }
        function confirm_remove(){
            var pay_password = $("#pay_password").val();
            var card_id = $("#card_id").val();
            if(!pay_password || pay_password==null || pay_password=="" || typeof pay_password =='undefined'){
                alert('请填写支付密码！');
                return;
            }
            $.post(
                    'index.php?app=member_bankcard&act=remove_bankcard',
                    {'pay_password':pay_password,'card_id':card_id},
                    function(data){
                        data=data.trim();
                        if(data == 'true'){
                            alert('已解除该银行卡!');
                        }else if(data == 'false'){
                            alert('解除银行卡失败...');
                        }
                        window.location="{$site_url}/weixin/index.php?app=member_bankcard&act=cards";
            });
        }
    </script>
</head>
<body>
<div style="background: none repeat scroll 0 0 #C40000;height: 43px;padding: 0 5px 0 6px;width: 279px;">
    <div class="enter-t222" style=" text-align: left;">
        <p>解绑银行卡</p>
    </div>
</div>
<div class="enter-bg">
    <input type="hidden" id="card_id" value="{$card_id}"/>
    <div class="dahua1">请输入支付密码验证身份!</div>
    <div class="dahua2">
        <input class="dahua2-text" id="pay_password" type="password" />
        <a href="index.php?app=member_safecenter&act=setPayPassword">忘记支付密码</a>
    </div>
    <div class="dahua3">
        <a href="javascript:void(0)" onclick="confirm_remove()"><div class="dahua3-1">确定</div></a>
        <a href="javascript:void(0)" onclick="cancel_remove()"><div class="dahua3-1">取消</div></a>
    </div>
    <div class="clear"></div>
</div>
</body>
</html>
