<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>已绑定银行卡</title>
    <link href="{$site_url}/weixin/templates/style/address.css" rel="stylesheet" type="text/css" />
    <link href="{$site_url}/weixin/templates/style/common.css" rel="stylesheet" type="text/css" />
    <link href="{$site_url}/weixin/templates/style/binding.css" rel="stylesheet" type="text/css" />

    <script type="text/javascript" src="{$site_url}/weixin/templates/js/jquery.js" charset="utf-8"></script>

    <script type="text/javascript" src="{$site_url}/weixin/templates/js/jike.js" charset="utf-8"></script>
    <script type="text/javascript" src="{$site_url}/weixin/templates/js/member.js" charset="utf-8"></script>

    <script charset="utf-8" type="text/javascript" src="{$site_url}/includes/libraries/javascript/jquery.plugins/jquery.validate.js" ></script>

    <script charset="utf-8" type="text/javascript" src="{$site_url}/includes/libraries/javascript/dialog/dialog.js" id="dialog_js"></script>
    <script charset="utf-8" type="text/javascript" src="{$site_url}/includes/libraries/javascript/jquery.ui/jquery.ui.js" ></script>
    <script charset="utf-8" type="text/javascript" src="{$site_url}/includes/libraries/javascript/jquery.ui/i18n/zh-CN.js" ></script>
    <meta id="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1,user-scalable=no" name="viewport">
    <script type="text/javascript" src="{$site_url}/weixin/templates/js/hide_share_button.js"></script>
    <script type="text/javascript">
        $(function(){
            $("#add_new_cards").click(function(){
                var phone_mob = '{$user.phone_mob}';
                var phone_mob_bind_status = '{$user.phone_mob_bind_status}';
                var password2 = '{$user.password2}'
                if(!phone_mob || phone_mob == "" || phone_mob_bind_status=='0'){
                    if(confirm("还未绑定手机号码!")){
                        window.location = "{$site_url}/weixin/index.php?app=member_safecenter&act=bindMobile";
                    }
                }else if(!password2 || password2==null || password2=="" || typeof password2 =="undefined"){
                    if(confirm("还未设置支付密码!")){
                        window.location = "{$site_url}/weixin/index.php?app=member_safecenter&act=setPayPassword";
                    }
                }else{
                    window.location = "{$site_url}/weixin/index.php?app=member_bankcard&act=bindPage";
                }
            });
        });

        function card_info(_id){
            if(!_id || _id ==null || _id== "" || typeof _id == "undefined"){
                alert("银行卡号错误");
            }else{
                window.location="{$site_url}/weixin/index.php?app=member_bankcard&act=card_info&id="+_id;
            }
        }

    </script>

</head>
<body>
<div style="width: 320px;margin: 0px auto">
    <div style="padding-top: 50px;">
<div class="address-t">
    <div class="address-l"><a href="javascript:history.go(-1)">返回</a></div>
    <div class="address-c" style="padding-left: 45px;">已绑定银行卡</div>
    {include file=member.index_header.html}
</div>
<div class="address-cen">

        <div class="address5">
            {if !$cardsCount}
                <a href="#" onclick="javascript:alert('未绑定任何银行卡信息!')" >
                    <span>设置结算帐号</span>
                </a>
                未绑定任何银行卡信息
            {else}
                <a href="#" onclick="choose()">
                    <span>设置结算帐号</span>
                </a>
                已绑定的银行卡信息
            {/if}
        </div>

    {foreach from=$bankCards item=bankCard name=_bankCard}
            <div  class="address6" {if !$smarty.foreach._bankCard.last} style="border-bottom:0px;" {/if}>
               <dl style="cursor: pointer" onclick="card_info('{$bankCard.id}')">
                <dt><img src="{$site_url}/weixin/templates/style/img/union_pay.jpg" width="46" height="40" alt="{$bankCard.bank_name}" /></dt>
                <dd style="width:180px;">
                    <h3>
                        <span>
                            {if $bankCard.if_default == 1}
                                结算账号
                            {/if}
                        </span>
                        {$bankCard.bank_name}
                    </h3>
                    <p>尾号{$bankCard.kahao|lastTruncate:-4:4}储蓄卡</p>
                </dd>
            </dl>
        </div>
    {/foreach}
    <div id="add_new_cards" class="address-cen3" style="color: white">新增银行卡</div>
</div>
</div>
    </div>

<script type="text/javascript">
    function choose(){
        var uri =encodeURI("index.php?app=member_account&act=chooseBankCard");
        var id = 'bankcards';
        var title = "银行卡";
        var width = '308';
        ajax_form(id, title, uri, width);
    }
</script>
{include file=cnzz.html}
</body>
</html>
