<script type="text/javascript" src="{$site_url}/weixin/templates/js/show_share_button.js"></script>
<div class="mandi10">
    <a href="{$site_url}/weixin/index.php?app=goods&act=index1" style="color: #666666">
    <dl>
        <dt><img src="{$site_url}/weixin/templates/images/ico25.png" width="32" height="29" /></dt>
        <dd style="margin-left:18px;">首页</dd>
    </dl>
    </a>
    <a href="{$site_url}/weixin/index.php?app=category" style="color: #666666">
    <dl>
        <dt><img src="{$site_url}/weixin/templates/images/ico26.png" width="28" height="28" /></dt>
        <dd>类目搜索</dd>
    </dl>
    </a>
    <a href="{$site_url}/weixin/index.php?app=cart" style="color: #666666">
    <dl style=" position: relative;">
        <em class="ggg">{$cart_goods_kinds}</em>
        <dt><img src="{$site_url}/weixin/templates/images/ico27.png" width="35" height="32" /></dt>
        <dd>&nbsp;&nbsp;&nbsp;购物车</dd>
    </dl>
    </a>
    <a href="{$site_url}/weixin/index.php?app=help" style="color: #666666">
    <dl>
        <dt><img src="{$site_url}/weixin/templates/images/ico28.png" width="27" height="29" /></dt>
        <dd>帮助中心</dd>
    </dl>
    </a>
    <a href="{$site_url}/weixin/index.php?app=member" style="color: #666666">
    <dl>
        <dt><img src="{$site_url}/weixin/templates/images/ico29.png" width="22" height="29" /></dt>
        <dd>会员中心</dd>
    </dl>
    </a>
</div>
<span style="display: none">
<script type="text/javascript">
    var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1000080062'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s22.cnzz.com/z_stat.php%3Fid%3D1000080062' type='text/javascript'%3E%3C/script%3E"));</script>
</span>