<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Refresh" id="refresh" content="2;url={$site_url}/weixin/index.php?app=member_order&act=all&user_id={$user.user_id}&type=buyer">
    <title>支付结果</title>
    <link href="{$site_url}/weixin/templates/style/public.css" rel="stylesheet" type="text/css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <script type="text/javascript" src="{$site_url}/weixin/templates/js/show_share_button.js"></script>
    <script type="text/javascript" src="{$site_url}/weixin/templates/js/jquery.js" charset="utf-8"></script>
</head>

<body>
<div id="w_3202" style="min-height:300px;">

    <div class="wbg">

        <div style="text-align: center;margin-top: 30px;">
            {if $payStatus=='true'}
                <div style="font-size: 18px;color: #008000">
                    支付成功，系统将自动跳转到列表！
                </div>
            {else}
                <div style="font-size: 18px;color: #FF0000">
                    系统繁忙，请稍后支付!<br/>
                </div>
            {/if}
        </div>

    </div>
</div>
</body>
</html>

