<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{if $flag && $flag==1}修改支付密码{else}设置支付密码{/if}</title>
    <link href="{$site_url}/weixin/templates/style/Safety.css" rel="stylesheet" type="text/css" />
    <link href="{$site_url}/weixin/templates/style/common.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="{$site_url}/weixin/templates/js/hide_share_button.js"></script>
</head>
<body>

<div style="width: 320px;margin: 0px auto">
    <div style="padding-top: 45px;">
        <div class="address-t">
            <div class="address-l"><a href="javascript:history.go(-1)">返回</a></div>
            <div class="address-c" style="padding-left: 44px;">{if $flag && $flag==1}修改支付密码{else}设置支付密码{/if}</div>
            {include file=member.index_header.html}
        </div>
        <div class="pay-4">
            <div class="Success">
                <div class="Success-1">{if $flag && $flag==1}修改支付密码成功!{else}设置支付密码成功!{/if}</div>
                <div class="Success-2"><a href="{$SITE_URL}/weixin/index.php?app=member">返回个人主页 ></a></div>
            </div>
        </div>

    </div>
</div>
{include file=cnzz.html}
</body>
</html>
