<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{if $user && $user.password2 && $user.password2 != ''}修改支付密码{else}设置支付密码{/if}</title>
    <link href="{$site_url}/weixin/templates/style/common.css" rel="stylesheet" type="text/css" />
    <link href="{$site_url}/weixin/templates/style/Safety.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="{$SITE_URL}/weixin/templates/js/jquery-1.6.2.min.js"></script>
    <script type="text/javascript" src="{$site_url}/weixin/templates/js/hide_share_button.js"></script>
    <script type="text/javascript">
        var count;
        function sendMsg(){
            count = 90;
            $.get(
                    "/weixin/index.php?app=sendcode&act=sendMsgCode",
                    {"phone_mob":$("#phone_mob").val()},
                    function(rs){
                        alert(rs);
                        SetRemainTime();
                    }
                )
        }
        //timer处理函数
        function SetRemainTime() {
            if (count < 1) {
                $("#codeButton").removeAttr("disabled")
                $("#codeButton").val("重新发送验证码");
                $(".pay-submit").css({"background-color":"#C40000"});
            } else {
                $("#codeButton").attr("disabled","disabled");
                $("#codeButton").val(count +"秒后重新获取");
                $(".pay-submit").css({"background-color":"#999"});
                count--;
                setTimeout(SetRemainTime, 1000);
            }
        }
        function verifyCode(){
            var yanzhengma = $("#verifyCode").val();
            $.get(
                    "/weixin/index.php?app=sendcode&act=checkCode",
                    {"yanzhengma":yanzhengma},
                    function(result){
                        result = result.trim();
                        if(result == "true"){
//                            alert(result+"_"+typeof result);
                            window.location.href="{$SITE_URL}/weixin/index.php?app=member_safecenter&act=passwordPage";
                        }else{
                            alert("验证码错误！");
                        }
                    }
            )
        }

    </script>
</head>
<body>
<div style="width: 320px;margin: 0px auto">
    <div style="padding-top: 50px;">
<div class="address-t">
    <div class="address-l"><a href="javascript:history.go(-1)">返回</a></div>
    <div class="address-c" style="padding-left: 44px;">{if $user && $user.password2 && $user.password2 != ''}修改支付密码{else}设置支付密码{/if}</div>
    {include file=member.index_header.html}
</div>
<div class="Safety-cen">
    <div class="pay">
        <dl>
            <dd><img src="{res file=images/safety/1-bg.png}" width="35" height="35" alt="身份验证" /><dd>
            <dt>身份验证<dt>
        </dl>
        <dl>
            <dd><img src="{res file=images/safety/2-bg.png}" width="35" height="35" alt="身份验证" /><dd>
            <dt style="color:#c40000;">验证手机<dt>
        </dl>
        <dl>
            <dd><img src="{res file=images/safety/3-bg.png}" width="35" height="35" alt="身份验证" /><dd>
            <dt>{if $user && $user.password2 && $user.password2 != ''}修改支付密码{else}设置支付密码{/if}<dt>
        </dl>
    </div>
    <div class="clear"></div>
    <div class="pay0">
        <h3>手机号码：{$user.phone_mob}</h3>
        <input type="hidden" value="{$user.phone_mob}" id="phone_mob"/>
        <div class="pay0-captcha">
            <input class="pay-input" name="" id="verifyCode" type="text" value="请输入验证码" onfocus="if(this.value=='请输入验证码'){this.value='';this.style.color='#333'}" onblur="if(this.value==''){this.value='请输入验证码';this.style.color='#ccc'}"/>
            <input id="codeButton" class="pay-submit" name="" type="button" onclick="sendMsg()" value="获取短信验证码" />
        </div>
    </div>
    <a href="#" onclick="verifyCode()"><div class="next-step" style="color: white">保存</div></a>
</div>
    </div>
</div>
{include file=cnzz.html}
</body>
</html>
