<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>修改密码,大集客-移动商城</title>
    <link href="{$site_url}/weixin/templates/style/common.css" rel="stylesheet" type="text/css" />
    <link href="{$site_url}/weixin/templates/style/Safety.css" rel="stylesheet" type="text/css" />
    <meta id="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1,user-scalable=no" name="viewport">

    <script type="text/javascript" src="{$site_url}/weixin/templates/js/jquery.js" charset="utf-8"></script>
    <script type="text/javascript" src="{$site_url}/weixin/templates/js/hide_share_button.js"></script>
    <script type="text/javascript">
        $(function(){
            $("#next").click(function(){
                var password1 = $("#password1").val();
                var password2 = $("#password2").val();
                $.post("index.php?app=modifyPs&act=update",{password1:password1,password2:password2},function(data){
                    if(data.flag == 'error1'){
                        alert('输入的密码为空');
                    }
                    if(data.flag == 'error2'){
                        alert('两次密码输入不正确!');
                    }
                    if(data.flag == 'error3'){
                        alert('请设置6位以上的密码！');
                    }
                    if(data.flag == 'ok'){
                        alert('修改成功!');
                        window.location.href="index.php?app=member_safecenter&act=index"
                    }
                },'json');
            });
        })
    </script>
</head>
<body>
<div style="width: 320px;margin: 0px auto">
    <div style="padding-top: 50px;">
<div class="address-t">
    <div class="address-l"><a href="javascript:history.go(-1)">返回</a></div>
    <div class="address-c2" style="padding-left: 60px;">修改密码</div>
    <div class="address-r1"><a href="{$site_url}/weixin/index.php?app=member_safecenter&act=index" style="color: #fff">关闭</a></div>
</div>
<div class="Safety-cen">
        <div class="modify-1">
            <dl>
                <dd><img src="{$site_url}/weixin/templates/images/1-bg.png" width="35" height="35" alt="身份验证" /><dd>
                <dt>身份验证<dt>
            </dl>
            <dl>
                <dd><img src="{$site_url}/weixin/templates/images/2-bg.png" width="35" height="35" alt="身份验证" /><dd>
                <dt  style="color:#c40000;">密码修改<dt>
            </dl>
        </div>
        <div class="clear"></div>

        <div class="modify-00">
            <div class="modify">
                <span>　　请输入新密码：</span>
                <input class="modify-text" name="password1" type="password" id = "password1"/>
            </div>
            <div class="modify">
                <span>请再次输入新密码：</span>
                <input class="modify-text" name="password2" type="password" id = "password2"/>
            </div>
        </div>
        <a href="javascript:;" id = "next"><div class="next-step">提交</div></a>
</div>
    </div>
</div>
</body>
</html>
