<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{$store.store_name}的店铺</title>
    <link href="{$site_url}/weixin/templates/style/com.css" rel="stylesheet" type="text/css" />
    <link href="{$site_url}/weixin/templates/style/hone.css" rel="stylesheet" type="text/css" />
    <link href="{$site_url}/weixin/templates/style/public.css" rel="stylesheet" type="text/css" />
    <meta id="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1,user-scalable=no" name="viewport">
    <script type="text/javascript" src="{$site_url}/weixin/templates/js/jquery.js" charset="utf-8"></script>
    <script type="text/javascript">
        function search_in_shop(){
            var keywords =  $("#keyword").val();
            var re = /^\\S+$/;
            if(keywords==null || keywords =="" || keywords=="搜索商品关键字"){
                alert("请填写商品名称或关键字!");
                return;
            }else if(re.test(keywords)){
                alert("搜索的关键字不能为空!");
                return;
            }else{
                var keyword=$("#keyword").val();
                $("#search_in_shop").submit();
            }
        }
    </script>
</head>
<body>

<div style=" width:320px; margin:0px auto;padding-top: 50px;">
    <div class="enter-t">
        <a href="{$site_url}/weixin/index.php?app=store&id={$store.store_id}"><div class="enter-t1">首页</div></a>
        <div class="enter-t22">{$store.store_name|truncate:16}</div>

            <div class="enter-t33">
                {if !$member || $member.user_id <= 0 }
                    <a onclick="window.location='{$site_url}/weixin/index.php?app=member&act=login&ret_url='+encodeURIComponent('/weixin/index.php?app=store&id={$store.store_id}')"
                       href="javascript:void(0)" style="color:#ffffff">
                        登&nbsp;录
                    </a>
                {else}
                    <a href="{$site_url}/weixin/index.php?app=goods&act=index1" style="color:#ffffff">移动商城</a>
                {/if}
            </div>
            </div>
    <div class="clear"></div>
    <div class="enter-bg" {if $user && $user.user_id && $user.user_id > 0}style="padding-bottom:55px;"{else}style="padding-bottom:0px;"{/if}>
    <div>
        <form action="{r_url app=store&act=search}" method="get" id="search_in_shop">
            <input type="hidden"  name="app" value="store" />
            <input type="hidden"  name="act" value="search" />
            <input type="hidden" name="id" id="id" value="{$store.store_id}"/>
            <div class="sou-text">
                <input  style="height: 26px;border-style:none;width:200px;" id="keyword" name="keyword" type="text" value="{if $keyword ==null }搜索商品关键字{else}{$keyword}{/if}"
                        onfocus="if(this.value=='搜索商品关键字'){this.value='';this.style.color='#333'}"
                        onblur="if(this.value==''){this.value='搜索商品关键字';this.style.color='#999'}"/>
                <input type="button" style="float: right; font-weight: bold;cursor:pointer;background: none repeat scroll 0 0 #D0281E;height: 28px; border: medium none; color: #FFFFFF;"
                       value="搜索" onclick="search_in_shop()"/>

            </div>
        </form>
    </div>

    <div>
        <div class="my-more" style="height: 100px;" onclick="javascript:window.location='{$site_url}/weixin/index.php?app=store&id={$store.store_id}'">
            <dl>
                <dt style="height: 100px;">
                    <img width="73" height="65" style="margin-top: 16px;" alt="头像" src="http://www.dajike.com/weixin/templates/style/img/logo2.jpg"></dt>
                <dd>
                    <h3>{$store.store_name}的店铺</h3>
                    <div style="color:#666;margin-top: 15px;font-size: 14px">{$store.address}</div>
                </dd>
            </dl>
        </div>
    </div>

    <!--商品列表开始-->
    <div class="hot">
        <div onclick="" style="cursor:pointer" class="hot-t">
            <span>
                共<strong>{if $page && count($page.goodsList) > 0 }{$page.item_count}{else}0{/if}</strong>件商品
            </span>商品列表
        </div>
        <div class="hot-c">
            {if $page && count($page.goodsList) > 0}
                {foreach from=$page.goodsList item=goods name=goods_index}
                    <a href="{$site_url}/weixin/goods/0/{$goods.goods_id}{if $user && $user.user_id > 0}/{$user.user_id}{/if}" title="{$goods.goods_name}" >
                        <dl style="margin-bottom: 20px;">
                            <dt>
                                <img src="{img_url $img_url/$goods.default_image/100X100} "  width="100" height="100" />
                            </dt>
                            <dd style="height: 32px;overflow: hidden">{$goods.goods_name|truncate:28}</dd>
                            <p>￥{$goods.price}</p>
                        </dl>
                    </a>
                {/foreach}
            {else}
                <div style="text-align: center;padding-bottom: 80px;padding-top: 80px;font-size: 16px;">
                    该商家没有上传商品！
                </div>
            {/if}
            <div class="clear"></div>
        </div>
    </div>
    <!--商品列表结束-->

    {if !$page && count($page.goodsList) <= 0}
        <!--分页开始-->
        <script type="text/javascript">
            function formerPage(curr_page,page_count){
                //                alert(curr_page-1);
                var page = parseInt(curr_page)-1
                if( page> 0 ){
                    window.location ="{$site_url}/weixin/index.php?app=store&id={$store.store_id}&page="+page;
                }else{
                    alert("已经到了首页！");
                    return;
                }
            }
            function nextPage(curr_page,page_count){
                var page = parseInt(curr_page)+1;
                if(page > page_count){
                    alert("已经到了最后一页！");
                }else{
                    window.location ="{$site_url}/weixin/index.php?app=store&id={$store.store_id}&page="+page;
                }
            }
        </script>
        <div id="w_3202" style="padding-bottom: 5px;padding-top: 5px;">
            <div class="ddi">
                <div class="left" style="width: 235px; padding-left: 75px;">
                    <a href="javascript:formerPage('{$page.curr_page}','{$page.page_count}')" class="a1" style="margin-right: 20px;"></a>
                    <a style="float: left; height: 26px; line-height: 26px; font-family: tahoma; font-size: 14px; margin-right: 20px;">{$page.curr_page}/{$page.page_count}</a>
                    <a href="javascript:nextPage('{$page.curr_page}','{$page.page_count}')" class="a2"></a>
                </div>
            </div>
        </div>
        <!--分页结束-->
    {/if}



</div>


<div class="pdding"></div>
<div style="margin-top:50px;">
    <div class="mmore22" style="padding-top:4px;font-weight:bolder;height:30px;z-index:999;margin:0px auto;position:fixed !important;bottom:0 !important;cursor: pointer;width: 320px;"
         onclick="javascript:window.location='{$site_url}/weixin/index.php?app=store&act=setOrderPage&id={$store.store_id}'">
        没有找到想要的商品？自己下单
    </div>
</div>
</div>


<span style="display: none">
    <script type="text/javascript">
        var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1000080062'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s22.cnzz.com/z_stat.php%3Fid%3D1000080062' type='text/javascript'%3E%3C/script%3E"));
    </script>
</span>

</body>
</html>
