{include file="header.html"}
<script>


    $(function(){
        $('#begin_time').datepicker({dateFormat: 'yy-mm-dd'});
        $('#end_time').datepicker({dateFormat: 'yy-mm-dd'});

    });

    function showDetail(id) {
        var url = "index.php?app=order&act=fwzx_detail&id="+id;
        window.open(url);
    }


</script>
<div id="rightTop">
    <ul class="subnav">
        <li><span>{$fwzx}服务中心  &nbsp;累计总收益:{$total|price}</span></li>
    </ul>

</div>
<div class="mrightTop">
    <div style="float: left;margin-right: 20px;margin-top: 5px;">
        <ul style=" float: left;margin-right: 20px;margin-top: 5px;">
            <li style="margin-right: 20px;float: left;"><a class="btn1" href="javascript:isshow('yue')">按月统计</a></li>
            <li style="float: left;"><a class="btn1" href="javascript:isshow('date')">按日统计</a></li>
        </ul>
    </div>
    <div class="fontl">
        <form method="get" name="form1" id="form1">
            <div class="left">
                <input type="hidden" name="app" value="order" />
                <input type="hidden" name="act" value="fwzx_shouyi" />
                <input type="hidden" id="type" name="type" value="" />
                <input type="hidden"  name="id" value="{$id}" />
                <span class="title">时间从:</span>&nbsp;&nbsp;&nbsp;
                <input type="text" value="{$add_time_from}" style="width: 100px" id="begin_time" name="add_time_from" class="pick_date" />至
                <input type="text" value="{$add_time_to}" style="width: 100px" id="end_time" name="add_time_to" class="pick_date" />
                <input type="submit" class="formbtn" value="{$lang.query}" />
            </div>
        </form>
    </div>

    <div class="fontr">
        {if $data}{include file=page.top.html}{/if}
    </div>
</div>
<div class="tdare" >
    <table width="100%" cellspacing="0" class="dataTable" id="yueTable">
        <!--{if $data}-->
        <tr class="tatr1">
            <td width="20%" ><span ectype="order_by" fieldname="addTime">日期</span></td>
            <td width="20%"><span ectype="order_by" fieldname="amount">金额</span></td>
            <td width="20%"><span ectype="order_by" >操作</span></td>
        <!--{/if}-->
        <!--{foreach from=$data item=order}-->
        <tr class="tatr2">
            <td>{$order.createTime}</td>
            <td>{$order.jine|price}</td>
        <td><a href="index.php?app=order&act=fwzx_detail&id={$order.user_id}">详细</a></td>
        </tr>
        <!--{foreachelse}-->
        <tr class="no_data">
            <td colspan="5">{$lang.no_data}</td>
        </tr>
        <!--{/foreach}-->
    </table>
    <table width="100%" cellspacing="0" class="dataTable" id="dateTable"  style="display: none">
        <!--{if $data}-->
        <tr class="tatr1" >

            <td width="20%"><span ectype="order_by" fieldname="addTime">日期</span></td>
            <td width="20%"><span ectype="order_by" fieldname="amount">金额</span></td>
            <td width="20%"><span ectype="order_by" >操作</span></td>
        </tr>
        <!--{/if}-->

        <!--{foreach from=$orders item=order}-->
        <tr class="tatr2">
            <td>&nbsp;&nbsp;{$order.createTime}</td>
            <td>{$order.jine|price}</td>
        </tr>
        <!--{foreachelse}-->
        <tr class="no_data">
            <td colspan="5">{$lang.no_data}</td>
        </tr>
        <!--{/foreach}-->
    </table>
    <div id="dataFuncs">
        <div class="pageLinks">
            {if $data}{include file=page.bottom.html}{/if}
        </div>
    </div>
    <div class="clear"></div>
</div>
<script>
    function isshow(type){
        if(type =='yue'){
            $("#type").val("yue");
            $("#yueTable").show();
            $("#dateTable").hide();
        }else{
            $("#type").val("date");
            $("#dateTable").show();
            $("#yueTable").hide();
        }
        $("#form1").submit();
    }

</script>
{include file="footer.html"}
