{include file="header.html"}
<style type="text/css">
	.suggestionList li:hover {
		background-color: #659CD8;
	}
	.suggestionsBox {
		position: relative;
		left: 185px;
		margin: 10px 0px 0px 0px;
		width: 200px;
		background-color: #212427;
		-moz-border-radius: 7px;
		-webkit-border-radius: 7px;
		/*border: 2px solid #000;*/
		color: #fff;
	}

	.suggestionList {
		margin:  -10px 0px 3px 0px;
		padding: 0px;
		/*border: 2px solid #000;*/
	}

	.suggestionList li {

		margin: 0px 0px 3px 0px;
		padding: 3px;
		cursor: pointer;
	}
</style>

<script type="text/javascript" src="index.php?act=jslang"></script>
<script>
function confirm_default(url){
  if(confirm("确认设置为默认结算银行吗？")){
    location = url;
  }
}
</script>
<div id="rightTop">
    <p>银行卡明细</p>
    <ul class="subnav">
        <li><span><a href="index.php?app=memberbank" class="btn1">首页</a></span></li>        
    </ul>
</div>
<div class="info">
  <form method="post" enctype="multipart/form-data" id="store_form">      
    <table class="infoTable">

        <tr>
            <th class="paddingT15">用户名:</th>
            <td class="paddingT15 wordSpacing5">{$data.userData.user_name|escape}</td>
        </tr>

      <tr>
        <th class="paddingT15">银行名称:</th>
        <td class="paddingT15 wordSpacing5">{$data.bank_name|escape}</td>
      </tr>
      <tr>
        <th class="paddingT15">银行代码:</th>
        <td class="paddingT15 wordSpacing5">{$data.bank_code|escape}</td>
      </tr>
      <tr>
        <th class="paddingT15">开户行:</th>
        <td class="paddingT15 wordSpacing5">{$data.kaihuhang|escape}</td>
      </tr>      
      <tr>
        <th class="paddingT15">银行卡号:</th>
        <td class="paddingT15 wordSpacing5">{$data.kahao}</td>
      </tr>
      
       <tr>
        <th class="paddingT15">真实姓名:</th>
        <td class="paddingT15 wordSpacing5">{$data.user_name}</td>
      </tr>
       <tr>
        <th class="paddingT15">所属地区名称:</th>
        <td class="paddingT15 wordSpacing5">{$data.region_name}</td>
      </tr>
       <tr>
        <th class="paddingT15">是否默认:</th>
        <td class="paddingT15 wordSpacing5">
        <!--{if $data.if_default eq 0}-->非默认结算卡号  <a href="javascript:confirm_default('index.php?app=memberbank&act=set_default&id={$data.id}&uid={$data.userData.user_id}')">设置为默认结算帐号</a><!--{else}--><font color="red">默认结算卡号</font><!--{/if}-->
        </td>
      </tr>
      
       <tr>
        <th class="paddingT15">创建时间:</th>
        <td class="paddingT15 wordSpacing5">
        {$data.add_time}
        </td>
      </tr>
      
       <tr>
        <th class="paddingT15">修改时间:</th>
        <td class="paddingT15 wordSpacing5">
        {$data.update_time}
        </td>
      </tr>
      
   
   
      <tr>
        <th></th>
        <td class="ptb20">
        	<input class="formbtn" type="button" onclick="location='index.php?app=memberbank';" name="Submit" value="返回" />
          </td>
      </tr>
    </table>
  </form>
</div>
{include file="footer.html"}