{include file="header.html"}

<script type="text/javascript" src="{lib file=jquery.js}" charset="utf-8"></script>
<script type="text/javascript" src="{lib file=jike.js}" charset="utf-8"></script>
<script type="text/javascript" src="{lib file=member.js}" charset="utf-8"></script>
<script charset="utf-8" type="text/javascript" src="{$site_url}/includes/libraries/javascript/jquery.plugins/jquery.validate.js" ></script>
<script charset="utf-8" type="text/javascript" src="{$site_url}/includes/libraries/javascript/dialog/dialog.js" id="dialog_js"></script>
<script charset="utf-8" type="text/javascript" src="{$site_url}/includes/libraries/javascript/jquery.ui/jquery.ui.js" ></script>
<script charset="utf-8" type="text/javascript" src="{$site_url}/includes/libraries/javascript/jquery.ui/i18n/zh-CN.js" ></script>
<link rel="stylesheet" type="text/css" href="{$site_url}/includes/libraries/javascript/jquery.ui/themes/ui-lightness/jquery.ui.css"  />


<script type="text/javascript">
$(function(){
    $('#add_time_from').datepicker({dateFormat: 'yy-mm-dd'});
    $('#add_time_to').datepicker({dateFormat: 'yy-mm-dd'});
});
</script>
<div id="rightTop">
    <p>pos机审核</p>
</div>
<div class="mrightTop">
    <div class="fontl">
        <form method="get">
             <div class="left">
                <input type="hidden" name="app" value="pos" />
                <input type="hidden" name="act" value="apply" />

                申请时间从：&nbsp;&nbsp;&nbsp;<input  width="100px" type="text" value="{$smarty.get.add_time_from}" id="add_time_from" name="add_time_from" class="pick_date" />
                &nbsp;&nbsp;&nbsp;至：&nbsp;&nbsp;&nbsp;<input  width="100px" type="text" value="{$smarty.get.add_time_to}" id="add_time_to" name="add_time_to" class="pick_date" />

                &nbsp; &nbsp;&nbsp;&nbsp;按商家名称：&nbsp;&nbsp;&nbsp;
                <input type="text" name="seller_name" value="{$smarty.get.seller_name}"  width="150px" />

                 &nbsp; &nbsp;&nbsp;&nbsp;按店铺名称：&nbsp;&nbsp;&nbsp;
                 <input type="text" name="store_name"  value="{$smarty.get.store_name}"  width="150px" />

                <input type="submit" class="formbtn" value="{$lang.query}" />
            </div>
        </form>
    </div>
    <div class="fontr">
        {if $orders}{include file=page.top.html}{/if}
    </div>
</div>
<div class="tdare">
    <table width="100%" cellspacing="0" class="dataTable">    
        <tr class="tatr1">
            <td width="15%" class="firstCell"><span ectype="order_by" fieldname="title">商家名称</span></td>
            <td width="15%"><span ectype="order_by" fieldname="des">店铺名称</span></td>
            <td width="15%"><span ectype="order_by" fieldname="link">手机号码</span></td>
            <td width="10%"><span ectype="order_by" fieldname="img">固定号码</span></td>
            <td width="8%"><span ectype="order_by" fieldname="status">用户用</span></td>
            <td width="15%"><span ectype="order_by" fieldname="position">申请时间</span></td>
            <td width="15%"><span ectype="order_by" fieldname="position">状态</span></td>
            <td width="10%">{$lang.handler}</td>
        </tr>     
        <!--{foreach from=$data item=gg}-->
        <tr class="tatr2">
            <td class="firstCell">{$gg.seller_name|escape}</td>
            <td>{$gg.store_name}</td>
            <td>{$gg.mobile_phone_number}</td>
            <td>{$gg.telephone_number}</td>
            <td>{$gg.user_name}</td>
            <td>{$gg.create_time}</td>
            <td><!--{if $gg.status eq 0}-->待审核<!--{elseif $gg.status eq 1}-->审核通过<!--{else}--><font color='red' title='{$gg.unpass_reason}' style="cursor: pointer">审核不通过</font><!--{/if}--></td>
            <td>
            <a href="javascript:;" ectype="dialog" uri="index.php?app=pos&act=shenhe&id={$gg.id}" ectype="dialog" dialog_id="pos_shenhe" dialog_tixian dialog_width="550">操作</a>
            </td>          
        </tr>
        <!--{foreachelse}-->
        <tr class="no_data">
            <td colspan="8">{$lang.no_data}</td>
        </tr>
        <!--{/foreach}-->
    </table>
    <div id="dataFuncs">
        <div class="pageLinks">
            {if $orders}{include file=page.bottom.html}{/if}
        </div>
    </div>
    <div class="clear"></div>
</div>
<iframe id='iframe_post' name="iframe_post" src="about:blank" frameborder="0" width="0" height="0"></iframe>
{include file="footer.html"}
